body{
	font-family:  "Ubuntu", Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143; 
	background:#8A8451;
}
h1 { font-family: "Ubuntu Condensed", Arial, serif; font-weight: 400; font-size:400%}
section{
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-size: contain;
	background-repeat:no-repeat;
	background-position:100% 50%;
	position:relative;
	height:1080px;
	/*height:40rem;*/
}
.img-block{width:100%}
#home{background-color: #546157;backg round-image: url("../img/castell.png")}
#about{background-color:#9BFAB0;background-image: url("../img/moelwyn-nos.jpg")}
#blog{background-color: #FAF2AA;background-image: url("../img/6318084956_39b07dcfac_b.jpg")}
#contact{background-color: #8DC499;background-image: url("../img/6239628140_8c7534bc5f_b.jpg")}
/* THANKS TO 
 * http://www.colourlovers.com/palette/3320031/asleep_on_the_beach
 */

#home .jumbotron{color:#333}
#home {color:white}
